body {
    background-image: url('hp\ \(1\).jpg');
    background-size: 1300px 700px;
    color: rgb(255, 251, 0);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

input {
    width: 400px;
    height: 40px;
    border: 1px solid peru;
    border-radius: 5px;
    background-color: black;
    color: goldenrod;
    font-size: large;
}

#menu {
    margin-left: 1200px;
    background-color: peru;
    border-radius: 20px;
}

#addbtn {
    width: 100px;
    height: 35px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    background-color: white;
    color: green;
    font-size: 20px;
}

#cancelbtn {
    width: 100px;
    height: 35px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color: white;
    color: indianred;
    font-size: 20px;
}

#addbtn:hover {
    background-color: green;
    color: white;
}

#cancelbtn:hover {
    background-color: indianred;
    color: white;
}

#desc {
    width: 500px;
    height: 100px;
    background-color: black;
    border-color: peru;
    color: goldenrod;
    font-size: large;
}